*.user
*.suo
*.tmp
*.log
*.DS_Store
.vs/
*.slnLaunch.json
*.sln.docstates
**/bin/
**/obj/
**/*.csproj.user
**/*.http
**/Properties/
**/logs/
**/appsettings.json
**/appsettings.Development.json
**/__pycache__/
**/*.pyc
**/*.pyo
*.env
reactapp/node_modules/
reactapp/.vscode/
reactapp/dist/
reactapp/*.esproj.user
reactapp/.eslintcache
reactapp/.env
config.json
